extends layout

block content
  h1 Swag swag swag
  p Welcome to #{title}

  a(href='/tags') List of Tags
  br
  a(href='/products') List of Products
  br
  a(href='/products/new') Add a new product
  br
  a(href='/tags/new') Add a new tag
  br
  a(href='/types/new') Add a new tag type