doctype 5
html
  head
    title= title
    link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='//code.jquery.com/jquery.js')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js')
    block js
