extends layout

block content
  .container
    .row-fluid
      h1 List of tags
      p I'm planning to add a section for adding/editing tags on the same page as list of tags

    .row-fluid
      .span4
        h3 Add a new tag (editing existing tag coming soon...)
        br Name: 
        input#tagName(type='input', placeholder='Tag name...')
        br Type:
        select#tagType
          each type in types
            option(value=type.name) #{type.name}
        br
        input#newTag(type='select') Submit
      .span8
        #tagList
          include _tags

block js
  script(src='/javascripts/main.js')