extends layout

block content
  .container
    .row-fluid
      h1 List of tags
      p I'm planning to add a section for adding/editing tags on the same page as list of tags

    .row-fluid
      .span4
        h3 Add a new tag (editing existing tag coming soon...)
        br
        | Name: 
        input#tagName(type='input', placeholder='Tag name...')
        br 
        | Type:
        select#tagType(style='margin-top: 10px')
          each type in types
            option(value=type.name) #{type.name}
        br
        input#newTag(type='submit') Submit
      .span8
        dl#tagList
          include _tags

  a(href='/') Home

block js
  script(src='/javascripts/main.js')