extends layout

block content
  .container
    .row-fluid
      h1 List of tags
      p I'm planning to add a section for adding/editing tags on the same page as list of tags

    .row-fluid
      .span4
        h3 Add a new tag (editing existing tag coming soon...)
        .form-horizontal
          .control-group
            label.control-label(for='tagName') Name
            .controls
              input#tagName(type='text', placeholder='Tag name')
          .control-group
            label.control-label(for='tagType') Type
            .controls
              select#tagType
                each type in types
                  option(value=type.name) #{type.name}
          .control-group
            .controls
              input#newTag(type='submit') Submit
      .span8
        dl#tagList
          include _tags

  a(href='/') Home

block js
  script(src='/javascripts/tags.js')